

a {
	color: #7A6D67;
	font-family: Georgia;
}

a:link {
		text-decoration: none;
	}

a:visited {
	color: #7A6D67;
}

a:hover {
	color: #BBA88F;
/*	font-size: 115%;*/
	border: 2px solid #F4F3F4;
	border-radius: 5px;
	}

a:active {
	color: #F4F3F4;
}

body {
	background-image: radial-gradient(circle at center, rgba(63, 53, 57, 0.75),
		#F4F3F4),url("/images/movie-reel.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-opacity: 0.35;
}

h1 {
	
}

h4 {
	color: #3F3539;
	font-family: Times New Roman;
	}

header {
	background: radial-gradient(circle at center, #F4F3F4, #7A6D67, #3F3539);
		border-radius: 10px;
		border: 2px solid #F4F3F4;
		font-size: 150%;
		font-family: "Verdana";
		padding: 10px;
		text-align: center;
		width: relative;
}

ol,
ul {
	list-style-type: none;
}