<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Movie Reviews</title>
	<link rel="stylesheet" type="text/css" href="./reviews-full-stack-style.css" />
	<link rel="stylesheet" type="text/css" href="./reviews-full-stack-layout.css" />
	

</head>

<body>
	<div class="container">
	<header>
		Midnite Owl's Movie Reviews
	</header>
	<h2>Thanks for visiting my movie review page!</h2>
	<div th:each="category: ${categories}">
	<!-- category((iterateable value)give it a singular name)
	{categories}==link to @RequestMapping in controller- -->
		
		<a th:href="@{/category(id=${category.id})}" th:text="${category.categoryName}"></a>
	<!--(link)/category==the name of the page being pointed to 
		((id=${category.id})==go to the category class and get the id of the category
		"${category.categoryName}" == list all the categories in category class by name-->	
	</div>
</div>
</body>
</html>
